$desktop: 960px;
$tablet: 768px;
$mobile: 640px;
nav{
  background: #bdcacf34;
  margin: auto;
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@media only screen and (max-with:$tablet){

  nav{
    background: #bdcacf34;
    margin: auto;
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media only screen and (max-with:$mobile){

  nav{
    background: #bdcacf34;
    margin: auto;
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
h1:hover{
  cursor: pointer;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
a{
  color: white;
  text-decoration: none;
  outline-style: none;
  background: #3a89ad;
  padding: 1.3em;
  margin-left: 2em;
  border-radius: 3px;
}
a:hover{
  background: #3277976b;
}
