<nav>
  <div class="title">
    <h1 (click)="toggleM()"> {{ title }} </h1> 
  </div>
  <div class="menu">
    <a routerLink="/dash">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>   
  </div>
</nav>
<app-messages *ngIf="mensaje"></app-messages>

<router-outlet></router-outlet>