<div class="messages" *ngIf="messageService.messages.length">
  <div class="barraDeMensajes" >
    <div class="titulo">
        <h2>Messages</h2>
        <button class="clear" (click)="messageService.clear()">clear</button>
    </div>
    <div *ngFor='let message of messageService.messages'> {{message}} </div>
  </div>
</div>
