.messages{
  overflow: hidden;
  z-index: 1;
  width: 25em;
  height: 20em;
  background: #bdcacf;
  position: fixed;
}
.barraDeMensajes{
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}
.titulo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
h2 {
  margin-right: 1em;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body, input[text] {
  color: crimson;
  font-family: Cambria, Georgia;
}
button.clear {
  padding: 2px 10px;
  color: #333;
  font-family: Arial;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}